{% extends "frontend/base.html" %}

{% block content %}
  <main id="content" role="main">
    <h2 class="heading-large">
      <!-- presumably this should be dynamic -->
      Services
    </h2>

    <form>
      {{ form }}
    </form>

    <div class="grid-row">
      <div class="column-one-quarter">
        filter stuff here
      </div>
      <div class="column-three-quarters">
          {% if items.has_previous %}
              <a href="?page={{ items.previous_page_number }}">previous</a>
          {% endif %}
          <p>Showing {{ items.paginator.per_page }} per page. {{ items.start_index }} - {{ items.end_index }}
              of {{ items.paginator.count }}.</p>
          {% if items.has_next %}
              <a href="?page={{ items.next_page_number }}">next</a>
          {% endif %}
          <p>Page {{ items.number }} of {{ items.paginator.num_pages }}.</p>

          {% for item in items %}

        <div class="item-card cf">

          <div class="card-row cf">
            <div class="card-left">
              <h3><a href="/services/{{ item.id }}">{{ item.name }}</a></h3>
              <p>{{ item.description }}</p>
            </div>
            <div class="card-right">
              <h3>Owner</h3>
              <p><a href="/people/{{ item.owner.id }}">{{ item.owner.first_name }} {{ item.owner.last_name }}</a></p>
            </div>
          </div>
          <div class="card-row cf">
            <div class="card-left">
              {% if item.areas.all.count %}
              <p>Used by:
                {% for area in item.areas.all %}
                <a href="/areas/{{ area.id }}">{{ area }}</a>

                {% endfor %}
              </p>
              {% else %}
              <p>Not used</p>
              {% endif %}

              <p>Category:
              {% if item.categories.all.count %}
                {% for category in item.categories.all %}
                <a href="/categories/{{ category.id }}">{{ category }}</a>

                {% endfor %}
              </p>
              {% else %}
              None
              {% endif %}
              </p>

            </div>
            <div class="card-right">
              <p><a href="/services/{{ item.id }}">Is this information wrong?</a></p>
            </div>
          </div>

        </div>

        {% endfor %}
      </div>
    </div>


  </main>
{% endblock %}
