{% extends "frontend/base.html" %}

{% block content %}
  <main id="content" role="main">
    <h2 class="heading-large">
      <!-- presumably this should be dynamic -->
      Services
    </h2>

    <form>
      {{ form }}
      <button>Submit</button>
    </form>

    <div class="grid-row">

      <div class="column-one-quarter">
        filter stuff here
      </div>

      <div class="column-three-quarters">

        <p class="item-count-summary">Showing {{ items.paginator.per_page }} per page. {{ items.start_index }} - {{ items.end_index }}
            of {{ items.paginator.count }}.</p>

        {% for item in items %}

        <div class="item-card cf">

          <div class="card-row cf">
            <div class="card-left">
              <h3><a href="/services/{{ item.id }}">{{ item.name }}</a></h3>
              <p>{{ item.description }}</p>
            </div>
            <div class="card-right">
              <h3>Owner</h3>
              <p><a href="/people/{{ item.owner }}">{{ item.owner }}</a></p>
            </div>
          </div>
          <div class="card-row cf">
            <div class="card-left">
              {% if item.areas %}
              <p>Used by:
                {% for area in item.areas_object %}
                <a href="/areas/{{ area.id }}">{{ area.name }}</a>

                {% endfor %}
              </p>
              {% else %}
              <p>Not used</p>
              {% endif %}

              <p>Category:
              {% if item.categories %}
                {% for category in item.categories_object %}
                <a href="/categories/{{ category.id }}">{{ category.name }}</a>

                {% endfor %}
              </p>
              {% else %}
              None
              {% endif %}
              </p>

            </div>
            <div class="card-right">
              <p><a href="/services/{{ item.id }}">Is this information wrong?</a></p>
            </div>
          </div>

        </div>

        {% endfor %}

        {# pagination #}
        {% if items.has_other_pages %}
        <nav class="govuk-previous-and-next-navigation" role="navigation" aria-label="Pagination">
          <ul class="group">
            {% if items.has_previous %}
            <li class="previous-page">
              <a href="?page={{ items.previous_page_number }}" rel="previous" >
                <span class="pagination-part-title">Previous</span>
                <!-- <span class="pagination-label">1 of 3</span> -->
              </a>
            </li>
            {% endif %}
            {% if items.has_next %}
            <li class="next-page">
              <a href="?page={{ items.next_page_number }}" rel="next">
                <span class="pagination-part-title">Next</span>
                <!-- <span class="pagination-label">3 of 3</span> -->
              </a>
            </li>
            {% endif %}
          </ul>
        </nav>
        {% endif %}
        {# end pagination #}


      </div>
    </div>


  </main>
{% endblock %}
