.item-card {
  margin-bottom: 40px;
  background-color: #efefef;
  font-size: 1rem;
  clear: both;
  position: relative;

  .card-row {
    > div {
      float: left;
      padding: 10px;
    }
    &:first-of-type {
      border-bottom: 1px solid #fff;
    }

    .card-left {
      width: calc(70% - 20px);
    }
    .card-right {
      width: calc(25% - 20px);
    }
  }
}
